	h1{
		font-size:15px;
		color:red;
	}
	div{
		width:800px;
		height:50px;
		background:yellow;
		line-height:50px;
		font-size:1.5em;
	}
	body{
		background:#00ffff;
		font-size:12px；
	}
	span{
		font-size:1.5em;
		color:#00ff00;
		font-family:"黑体";
	}